<!DOCTYPE html><html>{% include 'internal/helpers.twig'  with {debug : debug}  %}{% include 'html/head.twig' with {page : page, debug : debug} %}{% include layout with {data : data, debug : debug} %}</html>