<body>
<div id="wrapper">
    <div id="wrapper2">
        <div id="header" class="container">
            <div id="logo">
                <h1><a href="#">HoeyComb </a></h1>

                <p>simple & fast</p>
            </div>
            <div id="menu">
                <ul>
                    <li class="current_page_item"><a href="#">HoneyComb</a></li>
                    <li><a href="#">Install</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Documentation</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <div id="page">
            <div id="content">
                <div>{% include 'internal/block.twig' with {debug : debug, block : 'content', data : data} %}</div>
            </div>
        </div>
        <div id="sidebar">
            <div>{% include 'internal/block.twig' with {debug : debug, block : 'sidebar', data : data} %}</div>
        </div>
        <div style="clear: both;">&nbsp;</div>
    </div>

</div>
</div>


<div id="footer-content">
    <div id="footer">
        <p>by honeycomb, 2016</p>
    </div>
</div>

</body>