<body>
<div class="column column-1">
    {% include 'internal/block.twig' with {debug : debug, block : 'column-1', data : data} %}
</div>
<div class="column column-2">
    {% include 'internal/block.twig' with {debug : debug, block : 'column-2', data : data} %}
</div>
<div class="column column-3">
    {% include 'internal/block.twig' with {debug : debug, block : 'column-3', data : data} %}
</div>
</body>