request:
<pre><form method="post" action=""><input style="width: 100%" name="request" value="{{ data.request }}"><input
                type="submit"></form></pre>
url:
<pre>{{ data.url }}</pre>
json:
<pre>{{ data.json }}</pre>
response:
<pre>{{ data.response }}</pre>
error:
<pre>{{ data.error }}</pre>