Состояние очередей на {{ data.date }}, server pid {{ data.pid }}

<table border="1" cellpadding="3" cellspacing="0" width="100%">
    <tr>
        <th>worker</th>
        <th>last run</th>
        <th>interval</th>
        <th>workers count</th>
        <th>workers pid's</th>
    </tr>
    {% for key, worker in data.status.workers %}
        <tr>
            <td>
                <b>{{ worker.name }}, id: {{ key }}</b><br/>
                <pre> {{ worker.class }}::{{ worker.action }}</pre>
            </td>
            <td>
                <pre> {{ data.status.workersStatus[key].last_run_date }}</pre>
            </td>
            <td>
                <pre>{{ worker.interval }}</pre>
            </td>
            <td>
                <pre> {{ data.status.workersStatus[key].workers_count }} / {{ worker.max_workers }}</pre>
            </td>
            <td>
                <pre>
                    {% for pid, state in  data.status.workersStatus[key].workers %}[{{ pid }}]{% endfor %}
                </pre>
            </td>
        </tr>
    {% endfor %}
</table>

<script>
    setTimeout(function () {
        document.location.reload()
    }, 1000);
</script>