<h1>Honey Comb</h1>
<h2>Что это?</h2>
<div>HoneyComb - "пчелиные соты" - это "движок", который работает немного не так, как другие. В основу входит принцип, по которому каждая страница - это не
отдельный контроллер, а шаблон и несколько модулей, описанных конфигурацией. Любой модуль (виджет) можно реиспользовать в любом месте сайта, любой модуль обладает
возможностью включаться в страницу при помощи ssi (а значит, выполняться параллельно с остальными ssi модулями на странице) и кешировать результат выполнения в
nginx кеше на произвольное время, что ускоряет отрисовку модуля, а иногда и всей страницы, до скорости отдачи статических страниц.</div>